doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://cdn.tailwindcss.com")
        title Tailwind
    body.text-zinc-700.grid.content-between
        main.container.mx-auto.px-4
            h1.text-3xl.font-bold Заголовок 1
            .grid.grid-cols-1(class="sm:grid-cols-2 lg:grid-cols-3").gap-4.mb-8
                mixin card1
                    .px-6.py-4.rounded-lg.shadow-xl.shadow-zinc-300
                        block
                +card1
                    | Прежде всего социально-экономическое развитие требует определения и уточнения новых предложений. Не следует, однако, забывать, что повышение уровня гражданского сознания способствует подготовке и реализации форм воздействия.
                +card1
                    | Идейные соображения высшего порядка, а также управление и развитие структуры позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям. С другой стороны повышение уровня гражданского сознания обеспечивает широкому кругу специалистов системы обучения кадров, соответствующей насущным потребностям.
                +card1
                    | Значимость этих проблем настолько очевидна, что курс на социально-ориентированный национальный проект способствует повышению качества поэтапного и последовательного развития общества. Следует отметить, что постоянное информационно-пропогандистское обеспечение нашей деятельности влечёт за собой интересный процесс внедрения модернизации дальнейших направлений развития.
                +card1
                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий напрямую зависит от прогресса профессионального общества. Таким образом социально-экономическое развитие требует определения и уточнения экономической целесообразности принимаемых изменений.
                +card1
                    | Для современного мира постоянный количественный рост и сфера нашей активности обеспечивает актуальность экономической целесообразности принимаемых изменений. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                +card1
                    | Значимость этих проблем настолько очевидна, что постоянное информационно-пропогандистское обеспечение нашей деятельности обеспечивает широкому кругу специалистов новых принципов формирования материально-технической и кадровой базы. Прежде всего высокотехнологичная концепция общественной системы влечёт за собой интересный процесс внедрения модернизации модели развития.
        .bg-zinc-200.pt-6.pb-6
            .container.mx-auto.px-4
                h1.text-3xl.mb-4.font-bold Заголовок 2
                .grid.grid-cols-1(class="sm:grid-cols-2 lg:grid-cols-4").gap-4
                    mixin card2
                        .px-6.py-4.border-2.border-zinc-300.bg-white.rounded-b-2xl
                            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, qui veritatis sit nisi error cum saepe dolore velit? Quos vel itaque quas voluptate? Est cumque rerum non omnis mollitia suscipit.
                    +card2
                    +card2
                    +card2
                    +card2
                    +card2
                    +card2